@CHARSET "ISO-8859-1";

body {
	background-image: url("Images/ManCity.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: menu;
	font-family: Helvetica, sans-serif;
}

.navigationtop{
	  background-color: navy;
	  color: menu;
	  display: flex;
	  flex-wrap: wrap;
	  width: 100%;
	  padding: 20px;
	  align-items: center
}
.navigationtop h2{
	  width: 10%
}
.navigationtop a{
	  width: 10%
}


.container {
  display: flex;
}

.navigatorleft {
  background-color: maroon;
  width: 12%;
  min-height: 1000px;
  text-align: left;
}


.main {
  padding-left: 30px;
  width: 75%;
}
.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.gallery-item {
  margin: 20px;
  border: 5px solid #FFF;
}



.footer{
	  color: menu;
	  display: flex;
	  padding: 20px;
	  min-width: 100%;
	  background-color: navy;
}
.footer p{
	width: 100%;
	}
